RAILS_ENV=development
SECRET_KEY_BASE=local-development-secret
DB_HOST=localhost
POSTGRES_DB=sauna_itta_development
POSTGRES_USER=sauna_itta
POSTGRES_PASSWORD=sauna_itta
ALLOWED_GOOGLE_EMAIL=you@example.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ENABLE_DEV_LOGIN=true
DEV_LOGIN_EMAIL=developer@example.com
